@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glassCard {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.173);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(1.4px);
    backdrop-filter: blur(1.4px);
  }

  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hideScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hideTouchInputChrome {
    -webkit-tap-highlight-color: transparent;
  }

  .font-outline {
    -webkit-text-stroke: 0.5px black;
  }

  .text-shadow {
    text-shadow: 1px 1px 10px rgb(1, 23, 95, 1);
  }
}
